// Breakpoints //
$breakpoint-xs: 0px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1200px;

// Colores //
$aquamarine: #17c2a4; 
$dark-aquamarine: #14a58c;
$blue: #3c5499;
$dark-blue: #273a71;
$blue-social: #344b8e;
$asteriscos: #ff4444;
$white: #ffffff;
$backgroundpurple: #87509c;
$header-menu: #643a79;
$footer-button: #30bae7;
$blue-line: #299ec5;


// Textos //
$font-title: 2.5rem;

// Mixin para los dos botones centrados //
@mixin button{
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  padding: 30px 8.2%;
  border-radius: 5px;
  display: inline-block;
  font-weight: bold;
}
